<div class="grid grid-cols-2 md:lg:xl:grid-cols-3 bg-white">
  {{ range .accounts}}
  <div class="p-1 flex group flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b hover:bg-slate-50 m-4 relative">

    <div class="group-hover:visible invisible absolute w-full p-2 text-right">
      <a href="/accounts/edit/{{ .ID }}" class="bg-blue-600 rounded-full p-2 text-white">
        <i class="fa fa-pencil"></i>
      </a>
    </div>

    <span class="p-5 rounded-full shadow-lg shadow-black-200 w-24 h-24">

      <img src="{{ .Icon | url }}" />

    </span>
    <p class="text-xl font-medium text-slate-700 mt-3">{{ .Service }}</p>
    <p class="mt-2 text-sm text-slate-500">{{ .Account }}</p>

    <div>
      <button hx-get="/api/v1/twofaccounts/{{ .ID }}/otp" hx-trigger="click" hx-swap="outerHTML" >
        Code
      </button>

    </div>

  </div>

  {{ end}}

</div>
